# Eslint Formatter HTML2
This is a simple formatter based directly on the included formatter for Eslint HTML. The only difference is a fallback for the URL, hardcoded to the current Eslint docs URL.

# Application Reference
{{#modules}}
## {{name}}
{{>body~}}
{{>member-index~}}
{{>separator~}}
{{>members~}}
{{/modules}}

* * *

&copy; 2019 Aaron Huggins &lt;aaron@nuclearfamily.llc&gt;. Documented by [jsdoc-to-markdown](https://github.com/75lb/jsdoc-to-markdown).